.main {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.posts {
    width: 80%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}


@media screen and (max-width:900px) {
    .posts {
        width: 90%;
    }
}

@media screen and (max-width:420px) {
    .posts {
        width: 100%;
    }
}